//====================global footer
.layout-footer {
  padding: 138px 0 138px;

  .si-phone {
    padding-top: 2px;
  }
}

.company-legal-block {
  margin-top: 71px;

  dl {
    margin-bottom: 0;
  }
}

.company-info-block {
  padding-top: 13px;

  address {
    height: 112px;

    dt {
      display: block;
      font-weight: 700;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.copyright {
  margin-top: 43px;
}